<div class="row">
  <div class="user">
    <div class="col-sm-offset-3 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">Sign up</div>
        <div class="panel-body">
          <%= form_for(@user) do |f| %>
            <div class="form-group">
              <%= f.label :name, 'Name' %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
  
            <div class="form-group">
              <%= f.label :email, 'E-mail' %>
              <%= f.email_field :email, class: 'form-control' %>
            </div>
  
            <div class="form-group">
              <%= f.label :password, 'Password' %>
              <%= f.password_field :password, class: 'form-control' %>
            </div>
  
            <div class="form-group">
              <%= f.label :password_confirmation, 'Password(confirmation)' %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
  
            <div class="text-right">
              <%= f.submit 'Sign up', class: 'btn btn-block' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
