<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <h1>Lusikka</h1>
        <ul class="top-menu">
          <% if logged_in? %>
            <li class="top-menu-item"><%= link_to 'Search', new_restaurant_path %></li>
            <li class="top-menu-item"><%= link_to 'My list', user_path(current_user) %></li>
            <li class="top-menu-item"><%= link_to 'Log out', logout_path, method: :delete %></li>
          <% else %>
            <li class="top-menu-item"><%= link_to 'Log in', login_path %></li>
            <li class="top-menu-item"><%= link_to 'Sign up', signup_path %></li>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>