<% if current_page?(controller: 'restaurants', action: 'new') && @count == 0 %>
  <div class="no-results-found">No results found</div>
<% else %>
  <% if restaurants %>
    <div class="row">
      <% restaurants.each do |restaurant| %>
        <div class="restaurant">
          <div class="col-md-3 col-sm-4 col-xs-12"">
            <div class="panel panel-default">
              <div class="panel-heading text-center">
                <a href="<%= restaurant.url %>" target="_blank"><img src="<%= restaurant.image_url %>" alt="" ></a>
              </div>
              <div class="panel-body">
                <a href="<%= restaurant.url %>" target="_blank">
                  <div>
                    <p><%= restaurant.name %></p>
                    <p><%= restaurant.station %></p>
                    <p><%= restaurant.category %></p>
                  </div>
                </a>
                <div class="buttons text-center">
                  <% if logged_in? %>
                    <%= render 'visits/want_to_go_button', restaurant: restaurant %>
                    <%= render 'visits/went_button', restaurant: restaurant %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>